
    body{
      margin: 0px;
      padding: 0px;
      clear: both;
    }
    
    body{
      background-image: url('https://i.redd.it/erb2imdb0j861.jpg');
      background-repeat: no-repeat;
    }
    h1,h2,h3,h4,h5,h6,p,div,span,a,li,ol{
      color: white;
    }

    div{
      border: 1px solid white;
      background:#e91e63 ;
      color: white;
      padding: 20px;
      margin: 20px 30px 0px 0px;
      width: 292px;
      display: inline-block;
    }

    .button{
      color: white;
      background: black;
      border: 1px solid black;
      width: 100px;
      height: 100px ;
    }


    div{
      border: 1px solid white;
      background:#e91e63 ;
      color: white;
      padding: 20px;
      margin: 20px 30px 0px 0px;
      width: 292px;
      display: inline-block;
    }

    .button{
      color: white;
      background: black;
      border: 1px solid black;
      width: 100px;
      height: 100px ;
    }

    div{
      border: 1px solid white;
      background:#e91e63 ;
      color: white;
      padding: 20px;
      margin: 20px 30px 0px 0px;
      width: 292px;
      display: inline-block;
    }

    .button{
      color: white;
      background: black;
      border: 1px solid black;
      width: 100px;
      height: 100px ;
    }


    div{
      border: 1px solid white;
      background:#e91e63 ;
      color: white;
      padding: 20px;
      margin: 20px 30px 0px 0px;
      width: 292px;
      display: inline-block;
    }

    .button{
      color: white;
      background: black;
      border: 1px solid black;
      width: 100px;
      height: 100px ;
    }



    div{
      border: 1px solid white;
      background:#e91e63 ;
      color: white;
      padding: 20px;
      margin: 20px 30px 0px 0px;
      width: 292px;
      display: inline-block;
    }

    .button{
      color: white;
      background: black;
      border: 1px solid black;
      width: 100px;
      height: 100px ;
    }


    div{
      border: 1px solid white;
      background:#e91e63 ;
      color: white;
      padding: 20px;
      margin: 20px 30px 0px 0px;
      width: 292px;
      display: inline-block;
    }

    .button{
      color: white;
      background: black;
      border: 1px solid black;
      width: 100px;
      height: 100px ;
    }


    div{
      border: 1px solid white;
      background:#e91e63 ;
      color: white;
      padding: 20px;
      margin: 20px 30px 0px 0px;
      width: 292px;
      display: inline-block;
    }

    .button{
      color: white;
      background: black;
      border: 1px solid black;
      width: 100px;
      height: 100px ;
    }


    div{
      border: 1px solid white;
      background:#e91e63 ;
      color: white;
      padding: 20px;
      margin: 20px 30px 0px 0px;
      width: 292px;
      display: inline-block;
    }

    .button{
      color: white;
      background: black;
      border: 1px solid black;
      width: 100px;
      height: 100px ;
    }
